[Unit]
Description=garage_opener
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python /home/pi/garage_prog/mqtt_gpio.py

[Install]
WantedBy=multi-user.target
